<mat-toolbar class="toolbar" color="primary">
  <ng-container *ngIf="!(isHandset$ | async)">
    <section class="logo"><mat-icon>home</mat-icon></section>
    <section class="menueButtons">

<!--
      <mat-tab-group>
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
-->

      <button mat-button>Abaout Us</button>
      <button mat-button>Contact</button>
      <button mat-button>help</button>
    </section>
  </ng-container>

  <ng-container *ngIf="(isHandset$ | async)">
    <section class="logo"><mat-icon>home</mat-icon></section>
    <section class="menueButtons">
      <button mat-button><mat-icon>menue</mat-icon></button>
    </section>
  </ng-container>

</mat-toolbar>
