<mat-toolbar class="toolbar">
  <ng-container *ngIf="!(isHandset$ | async)">
   <section class="logo"><a routerLink=""><mat-icon color="primary">home</mat-icon></a></section>
    <!-- <section class="logo"><mat-icon color="primary">home</mat-icon></section> -->
     <section class="menueButtons">

       <nav mat-tab-nav-bar color="accent">
         <a mat-tab-link #rla="routerLinkActive" *ngFor="let device of devices;let i=index" [routerLink]="device.path" routerLinkActive="active" [active]="rla.isActive" >{{device.path}}
         </a>
       </nav>

       <!--     <mat-tab-group color="accent">
             <mat-tab label="About us"></mat-tab>
             <mat-tab label="Contact"></mat-tab>
             <mat-tab label="Support us"></mat-tab>
           </mat-tab-group>

          <button mat-button>Abaout Us</button>
           <button mat-button>Contact</button>
           <button mat-button>help</button> -->
    </section>
  </ng-container>

  <ng-container *ngIf="(isHandset$ | async)">
    <section class="logo"><mat-icon>home</mat-icon></section>
    <section class="menueButtons">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle();">menue</mat-icon>
      </button>

    </section>
  </ng-container>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav  position="end">
    <mat-nav-list>
      <a mat-list-item>Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
