<section class="Icons">

  <section>
  <fa-icon [icon]="facebook"></fa-icon>
  <fa-icon [icon]="youtube"></fa-icon>
  <fa-icon [icon]="instagram"></fa-icon>
  </section>
  <section>
  <fa-icon [icon]="playstore"></fa-icon>
  <fa-icon [icon]="appstore"></fa-icon>
  </section>

</section>

<section class="footer">
 <section class="Links">
    <section>
      <div>Datenschutz</div>
    </section>

    <section>
      <div>Impressum</div>
    </section>
 </section>

  <section class="Copyright">
    <div>Copyright</div>
  </section>
</section>
