.frontImg
  display: flex
  justify-content: center
  width: 100%
  height: auto
  padding-top: -15em

.frontContainer
  // background-image: url("~src/assets/Zeichenfläche 1.jpg")
  display: flex
  flex-direction: column
  align-items: center
  //height: 100vh
