<h1 class="title"> Contact</h1>
<section class="form">
  <form (ngSubmit)="submit()" [formGroup]="categoriesValidator" novalidate>
    <mat-form-field appearance="fill">
      <mat-label>select category</mat-label>
      <mat-select (selectionChange)="change($event.value)" formControlName="category" id="category">
        <ng-container *ngFor="let category of categories">
          <mat-option value="{{category.id}}">{{category.name}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </form>

  <form (ngSubmit)="submit()" [formGroup]="gameValidator" novalidate>
    <ng-container *ngIf="selectedCategory.gameForm">
      <mat-form-field appearance="fill">
        <mat-label>select Game</mat-label>
        <mat-select [(value)]="mail.gameForm" formControlName="game" id="game">
          <ng-container *ngFor="let game of games">
            <mat-option value="{{game.id}}">{{game.name}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </form>

  <form (ngSubmit)="submit()" [formGroup]="nameAndMail" novalidate>
    <ng-container *ngIf="selectedCategory.nameForm == true">
      <mat-form-field appearance="fill">
        <mat-label>name</mat-label>
        <input matInput formControlName="name" id="name">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="selectedCategory.emailForm == true">
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput  formControlName="email" id="email">
      </mat-form-field>
    </ng-container>
  </form>

  <ng-container *ngIf="selectedCategory.twitchNameForm == true">
    <mat-form-field appearance="fill">
      <mat-label>twitch name</mat-label>
      <input matInput [(ngModel)]="twitchName">
    </mat-form-field>
  </ng-container>

  <form (ngSubmit)="submit()" [formGroup]="messageValidator" novalidate>
  <ng-container *ngIf="selectedCategory.messageForm == true">
    <mat-form-field appearance="fill">
      <mat-label>message</mat-label>
      <textarea matInput formControlName="message" id="message"></textarea>
    </mat-form-field>
  </ng-container>
  </form>

  <ng-container *ngIf="selectedCategory.id != 'application'">
    <ng-container *ngIf="selectedCategory.id != 'partnership'">
    <ng-container *ngIf="selectedCategory.id != ''">
      <button mat-button [disabled]="messageValidator.invalid" (click)="submit()">Send</button>
    </ng-container>
    </ng-container>
  </ng-container>


  <ng-container *ngIf="selectedCategory.id == 'partnership'">
    <button mat-button [disabled]="nameAndMail.invalid" (click)="submit()">Send</button>
  </ng-container>

  <ng-container *ngIf="selectedCategory.id == 'sonsoring'">
    <button mat-button [disabled]="nameAndMail.invalid" (click)="submit()">Send</button>
  </ng-container>

  <ng-container *ngIf="selectedCategory.id == 'application'">
    <p>Pleas send your job application to gorillagate.gg@gmail.com <br/>
      Pleas include also your CV and a short
      motivation. </p>
  </ng-container>
</section>
